<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.altusvms.bbbapp"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>BBBApp</name>

    <description>
        Facebook integrated Buy, Beg, Barter Groups App. 
    </description>

    <author href="https://www.altusvms.com" email="bill@altusvms.com">
        Bill Blondin
    </author>

</widget>